<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    {% for i in stylesheets %}
    <link rel="stylesheet" href="{{ i }}" />
    {% endfor %}

    {% for i in js_scripts %}
    <script src="{{ i }}"></script>
    {% endfor %}

    <style type="text/css">
        article {
            font-size: 18px;
        }
        {% for i in extra_style %}
        {{ i }}
        {% endfor %}
    </style>

    {% for i in extra_head %}
    {{ i }}
    {% endfor %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">{{ sitename }}</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                {% for item in header_links %}

                    {% if item.children %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            {{ item.title }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for subitem in item.children %}
                            <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    {% else %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    {% for i in extra_body %}
    {{ i }}
    {% endfor %}

    <div class="container">
        <h1>{{ title }}</h1>
        <article>
            {{ content }}
        </article>

        {% if index_page %}
            <ul>
            {% for item in site_index recursive %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% if item.children %}
                    <ul class="collapsable">{{ loop(item.children) }}</ul>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>

</html>
